<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('내정보수정')">

  <!--  ajax-->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="form-validation.css" rel="stylesheet">

  <title>내정보 수정</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('info_update')"></nav>
<br><br><br><br>

<body class="bg-light">
<!--제목-->
<div class="py-5 text-center">
    <h2>내정보 수정</h2>
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
        <rect width="100%" height="100%" fill="#777"/>
      </svg>
  <div class="container row text-center col-md-5" style="float: none; margin: auto;">
<!--    <input type="file" id="profileImg" name="profileImg">-->
<!--    <br>-->
<!--    <button class="btn btn-primary btn-lg btn-block mt-5" id="submitButton" onclick="uploadProfileImg()">사진변경</button>-->

      <h5>사진업로드</h5>
      <input class="form-control" type="file" id="file" name="file">
      <button class="btn btn-primary btn-sm btn-block" id="submitButton" onclick="updateProfile()">사진변경</button>
<!--      <input class="form-control" type="submit" onclick="updateProfile()"/>-->
  </div>

  <br>
  <p class="lead">차량 등록을 해야 애플리케이션 기능 사용 가능</p>
</div>

<div class="row">
  <div class="container row text-center" style="float: none; margin: auto;">
    <div class="col-md-5" style="float:none;margin: auto">

      <!--form, 조회-->
<!--      <form class="form-updateProfile" th:action="@{/info/update}" method="post" th:object="${profile}">-->
      <form class="form-updateProfile" th:action="@{/info/update}" method="post">
        <div class="row">

          <!--이름, readonly-->
          <div class="col-md-6 mb-3">
            <label for="firstName">이름</label>
            <span type="text" class="form-control" id="firstName" th:text="*{profile.realname}" readonly></span>
          </div>

          <!--성별, readonly-->
          <div class="col-md-6 mb-3">
            <label for="lastName">성별</label>
            <span type="text" class="form-control" id="lastName" th:text="*{profile.gender} ? '여성' : '남성'" readonly></span>
          </div>

          <!--아이디, readonly-->
          <div class="mb-3">
            <label for="username"></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">ID</span>
              </div>
              <span type="text" class="form-control" id="username" th:text="*{profile.username}" readonly></span>
            </div>
          </div>

          <!--이메일, readonly-->
          <div class="mb-3">
            <label for="email"></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <span type="email" class="form-control" id="email" th:text="*{profile.email}" readonly></span>
            </div>
          </div>
        </div>

        <!--주소, update-->
        <div class="mb-3">
          <label for="address"><span class="text-muted"></span></label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Address</span>
            </div>
            <input type="text" class="form-control" id="address" name="address" th:value="*{profile.address}" placeholder="주소 api 사용 예정">
<!--            <div class="invalid-feedback">-->
<!--              Please enter your shipping address.-->
<!--            </div>-->
          </div>
        </div>

        <!--생년월일, update-->
        <div class="mb-3">
          <label for="birth"><span class="text-muted"></span></label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">생년월일</span>
            </div>
            <input type="text" class="form-control" id="birth" name="birth" th:value="*{profile.birth}" placeholder="생년월일 설정 UI 추가" required>
          </div>
        </div>

        <!--자기소개, update-->
        <div class="mb-3">
          <label for="introduce"><span class="text-muted"></span></label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">자기소개</span>
            </div>
            <input type="text" class="form-control" id="introduce" name="introduce" th:value="*{profile.introduce}" placeholder="자기소개">
          </div>
        </div>

<!--        <button class="btn btn-primary btn-lg btn-block mb-5" type="submit">저장</button>-->
        <button class="btn btn-primary btn-lg btn-block mb-5" type="button" onclick="updateProfile()">저장</button>
      </form>

    <!------------------------------------------------------------------------------------------------------------->

      <form class="form-getProfile" method="post" enctype="multipart/form-data">
        <!--구분선-->
        <hr class="mb-4">

        <h4 class="mb-4">차량등록</h4>

        <!--면허등록, update-->
        <div class="mb-3">
          <label for="license"><span class="text-muted"></span></label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">운전면허</span>
            </div>
            <input type="text" class="form-control" id="license" placeholder="운전면허 이미지 업로드">
          </div>
        </div>

        <!--차량번호, update-->
        <div class="mb-3">
          <label for="carNumber"><span class="text-muted"></span></label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">차량번호</span>
            </div>
            <input type="text" class="form-control" id="carNumber" placeholder="차량번호 입력">
          </div>
        </div>

        <!--차종, update-->
        <div class="mb-3">
          <label for="carType"><span class="text-muted"></span></label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">차종등록</span>
            </div>
            <input type="text" class="form-control" id="carType" placeholder="차종 입력">
          </div>
        </div>

        <!--차량 컬러, update-->
        <div class="mb-3">
          <label for="carColor"><span class="text-muted"></span></label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">차량색상</span>
            </div>
            <input type="text" class="form-control" id="carColor" placeholder="차량 색상 입력">
          </div>
        </div>

        <!--차량 이미지, update-->
        <div class="mb-3">
          <label for="carImg"><span class="text-muted"></span></label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">차량 이미지</span>
            </div>
            <input type="text" class="form-control" id="carImg" placeholder="차량 이미지 업로드">
          </div>
        </div>

        <button class="btn btn-primary btn-lg btn-block mb-5" type="submit">저장</button>
      </form>
    </div>
  </div>
</div>


  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; Easy CarPool</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="form-validation.js"></script></body>

<footer th:replace="fragments/common :: footer"></footer>
</body>
<!--ajax-->
<script type="text/javascript">
  function updateProfile() {

    const data2 = {
      address:$("#address").val(),
      birth: $("#birth").val(),
      introduce: $("#introduce").val(),
    }
    let file = $('#file')[0].files[0];
    let formData = new FormData();

    formData.append('file', file);
    formData.append('key', new Blob([JSON.stringify(data2)] , {type: "application/json"}));

    $.ajax({
      type:"POST",
      url: "/info/update",
      processData: false,
      contentType: false,
      data: formData,
      complete: function () {
        alert("success");
      }
    })
            .done(function (data){
              console.log(data);
              $("#form-updateProfile").replaceWith(data);
            })
            .fail(function (jqXHR) {
              console.log(jqXHR)
            })
            .always(function () {
              // console.log("요청, 응답 결과에 상관없이 실행")
            })

    // const data = JSON.stringify({
    //   address:$("#address").val(),
    //   birth: $("#birth").val(),
    //   introduce: $("#introduce").val()
    // });
    // const sendDto = {
    //   result:data
    // };
    // $.ajax({
    //   type:"POST",
    //   url: "/info/update",
    //   // dataType: "text",
    //   contentType: 'application/json',
    //   data: data,
    // })
    //         .done(function (data){
    //           console.log(data);
    //           $("#form-updateProfile").replaceWith(data);
    //         })
    //         .fail(function (jqXHR) {
    //           console.log(jqXHR)
    //         })
    //         .always(function () {
    //           console.log("요청, 응답 결과에 상관없이 실행")
    //         })
  }
</script>
</html>