<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="admin/common :: head('admin management')">

</head>

<!-- navbar-dark bg-dark -->
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="admin/common :: admin('adminManagement')"></nav>

<main role="main" class="container">

  <div class="starter-template">
    <h1>사용자 관리</h1>

    <p class="lead">관리자 페이지<hr>
<!--    <img class="mb-4" src="https://cdn-icons-png.flaticon.com/512/4727/4727194.png" alt="" width="250" height="250">-->
<!--    <br>-->
    </p>
  </div>

</main>

<div class="col-md-12">
  <div class="container row text-center" style="float: none; margin: auto;">
    <div class="col-md-12" style="float:none;margin: auto">

      <div class="col-md-12">

        <h3>유저 리스트</h3>
        <table class="table table-hover" id="usertable">
          <thead class="thead-dark">
          <tr>
            <th>#</th><th>ID</th><th>name</th><th>details</th><th>관리자지정</th>
          </tr>
          </thead>

          <tbody>
          <tr th:each="user: ${userList}">
            <td th:text="${user.getId()}">#</td>
            <td th:text="${user.getUsername()}">ID</td>
            <td th:text="${user.getRealname()}">name</td>
            <td>

                <!-- Modal Button -->
                <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" th:attr="data-id=${user.getId()}">상세보기</button>

                <!-- Modal Content -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Details</h4>
                            </div>
                            <div class="modal-body">

                                <p id="realname"></p>
                                <br>
                                <p id="username"></p>
                                <br>
                                <p id="useremail"></p>
                                <br>
                                <p id="useraddr"></p>
                                <br>
                                <p id="userbirth"></p>
                                <br>
                                <p id="usergen"></p>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Content End-->
            </td>

            <td>
                <button class="btn btn-primary add-admin" id="addAdminBtn" type="button" th:data-userid="${user.getId()}">추가</button>
            </td>

          </tr>
          </tbody>
        </table>

        <h3>관리자 리스트</h3>
        <table class="table table-hover" id="admintable">

          <thead class="thead-dark">
          <th>#</th><th>ID</th><th>name</th><th>details</th><th>관리자지정</th>
          </thead>

          <tbody>
          <tr th:each="admin: ${adminList}">
            <td th:text="${admin.getId()}"></td>
            <td th:text="${admin.getUsername()}"></td>
            <td th:text="${admin.getRealname()}"></td>
            <td>
                <!-- Modal Button -->
                <button class="btn btn-primary" data-toggle="modal" data-target="#adminModal" th:attr="data-id=${admin.getId()}">상세보기</button>

                <!-- Modal Content -->
                <div class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="adminModalLabel">Details</h4>
                            </div>
                            <div class="modal-body">

                                <p id="admin_realname"></p>
                                <br>
                                <p id="admin_username"></p>
                                <br>
                                <p id="admin_useremail"></p>
                                <br>
                                <p id="admin_useraddr"></p>
                                <br>
                                <p id="admin_userbirth"></p>
                                <br>
                                <p id="admin_usergen"></p>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Content End-->
            </td>

              <td>
                  <button class="btn btn-primary remove-admin" id="removeAdminBtn" type="button" th:data-adminid="${admin.getId()}">삭제</button>
              </td>
          </tr>
          </tbody>

        </table>


      </div>

    </div>
  </div>
</div>

<footer th:replace="admin/common :: footer"></footer>
</body>
<!--모달-->
</html>
<script type="text/javascript">

    // $.ajax({
    //     url: '/admin/userList',
    //     type: 'GET',
    //     success: function(data) {
    //
    //         $("#usertable tbody").empty();
    //
    //         for (var i = 0; i < data.length; i++) {
    //             $("#usertable tbody").append("<tr>" +
    //                 "<td>" + data[i].id + "</td>" +
    //                 "<td>" + data[i].realname + "</td>" +
    //                 "<td>" + data[i].username + "</td>" +
    //                 "</tr>");
    //         }
    //     }
    // });

    // user modal open, get user data with ajax
    $('#myModal').on('show.bs.modal', function (event) {

        let button = $(event.relatedTarget) // Button that triggered the modal

        let id = button.data('id') // Extract info from data-* attributes
        console.log("userId : " + id);

        $.ajax({
            type: "GET",
            url: "/admin/getUserInfo/" + id,
            success: function(data) {
                $("#myModalLabel").text(data.realname+"의 상세정보");
                $("#realname").text("이름 : "+data.realname);
                $("#username").text("아이디 : "+data.username);
                $("#useremail").text("이메일 : "+data.email);
                $("#useraddr").text("주소 : "+data.address);
                $("#userbirth").text("생년월일 : "+data.birth);
                if (data.gender == "true") {
                    $("#usergen").text("성별 : 여성");
                } else {
                    $("#usergen").text("성별 : 남성");
                }

            }, error: function (status, error) {
                console.log('error occurred..');
                console.log(status, error);
            }
        });
    });

    // admin modal open, get user data with ajax
    $('#adminModal').on('show.bs.modal', function (event) {

        let button = $(event.relatedTarget) // Button that triggered the modal

        let id = button.data('id') // Extract info from data-* attributes
        console.log("userId : " + id);

        $.ajax({
            type: "GET",
            url: "/admin/getUserInfo/" + id,
            success: function(data) {
                $("#adminModalLabel").text(data.realname+"의 상세정보");
                $("#admin_realname").text("이름 : "+data.realname);
                $("#admin_username").text("아이디 : "+data.username);
                $("#admin_useremail").text("이메일 : "+data.email);
                $("#admin_useraddr").text("주소 : "+data.address);
                $("#admin_userbirth").text("생년월일 : "+data.birth);
                if (data.gender == "true") {
                    $("#admin_usergen").text("성별 : 여성");
                } else {
                    $("#admin_usergen").text("성별 : 남성");
                }

            }, error: function (status, error) {
                console.log('error occurred..');
                console.log(status, error);
            }
        });
    });

    // 관리자 지정 ajax
    $(document).ready(function() {

        // class selector(.) 를 사용하여 행별 id 추출
        $('.add-admin').click(function(event) {

            // let button = $(event.relatedTarget); // Button that triggered the event
            let id = $(this).data('userid'); // Extract info from data-* attributes

            console.log("userid : " + id);

            $.ajax({
                url: "/admin/add/" + id,
                type: 'POST',
                data: {id: id},
                success: function (response) {
                    // Handle the success response from Spring
                    if(response) {
                        console.log("Operation successful");
                        console.log(response);
                    } else {
                        console.log("Operation failed");
                        console.log(response);
                    }
                },
                error: function () {
                    // Handle the error response from Spring
                }
            });
        });


        $('.remove-admin').click(function(event) {

            // let button = $(event.relatedTarget); // Button that triggered the event
            let id = $(this).data('adminid'); // Extract info from data-* attributes

            console.log("adminid : " + id);

            $.ajax({
                url: "/admin/remove/" + id,
                type: 'POST',
                data: {id: id},
                success: function (response) {
                    // Handle the success response from Spring
                    if(response) {
                        console.log("Operation successful");
                        console.log(response);
                    } else {
                        console.log("Operation failed");
                        console.log(response);
                    }
                },
                error: function () {
                    // Handle the error response from Spring
                }
            });
        });

    });




</script>
