<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="admin/common :: head('admin management')"></head>

<!-- navbar-dark bg-dark -->
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="admin/common :: admin('adminManagement')"></nav>

<main role="main" class="container">

  <div class="starter-template">
    <h1>admin 사용자 관리</h1>

    <p class="lead">관리자 페이지<hr><img class="mb-4" src="https://cdn-icons-png.flaticon.com/512/4727/4727194.png" alt="" width="250" height="250"><br></p>
  </div>

</main>

<div class="row">
  <div class="container row text-center" style="float: none; margin: auto;">
    <div class="col-md-5" style="float:none;margin: auto">

      <div class="row">

        <table class="table table-hover">
          <thead class="thead-dark">
          <tr>
            <th>#</th><th>ID</th><th>name</th>
          </tr>
          </thead>

          <tbody>
          <tr th:each="user: ${users}">
            <td th:text="${user.getId()}">#</td>
            <td th:text="${user.getUsername()}">ID</td>
            <td th:text="${user.getRealname()}">name</td>

          </tr>
          </tbody>
        </table>

        <table class="table table-hover">
          <thead class="thead-dark">
          <th>#</th><th>name</th><th>users</th>
          </thead>
          <tbody>

          <tr th:each="role: ${roles}">
            <td th:text="${role.getId()}">#</td>
            <td th:text="${role.getName()}">ID</td>
            <td th:text="${role.getUsers().get(0)}">name</td>

          </tr>

          </tbody>
        </table>


      </div>




    </div>
  </div>
</div>

<footer th:replace="admin/common :: footer"></footer>
</body>
</html>